@import "../../styles/variables";

.header {
  height: 100px;
  background-color: #fff;
  color: #000;
  font-size: 21px;
}
.container {
  @include container;
  height: 100%;
}
.btn {
  width: 150px;
  height: 60px;
}
.content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex {
  @extend .flex-aling;
  column-gap: 10%;
}
.image {
  width: 200px;
  height: 100%;
  .img {
    @extend .image-size;
  }
}
.navigation {
  display: contents;
}
.link {
  margin-right: 35px;
  font-size: 24px;
  transition: 0.3s;
}
.active {
  border-bottom: 1px solid $accent-color;
  transition: 0.3s;
  font-weight: 500;
  margin-right: 35px;
}

@media (max-width: 1800px) {
  .link {
    margin-right: 32px;
    font-size: 23px;
  }
}
@media (max-width: 1700px) {
  .link {
    margin-right: 30px;
    font-size: 22px;
  }
}
@media (max-width: 1500px) {
  .link {
    margin-right: 27px;
    font-size: 20px;
  }
}
@media (max-width: 1300px) {
  .link {
    margin-right: 24px;
    font-size: 18px;
  }
}
@media (max-width: 1100px) {
  .link {
    margin-right: 20px;
    font-size: 16px;
  }
}
@media (max-width: 1050px) {
  .navigation {
    display: none;
  }
}
