@import "../../../styles/variables";

.menu {
  display: none;
  filter: drop-shadow(1px 1px 1px #215700);
  width: 150px;
  height: 100px;
  z-index: 999999;
  // display: flex;
  color: $black-color;
  top: 30px;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.flex {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: $light-color;
  border-radius: 10px;
  padding: 10px 20px;
}
.btn {
  color: $white-color;
  font-family: inherit;
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  width: 100%;
  text-align: left;
}
.svg {
  margin-top: 5px;
  height: "fit-content";
}
.ul {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background: $white-color;
  li {
    color: 6600ff;
    display: block;
    list-style: none;
    margin: 0;
    padding: 10px;
  }
}
.item {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: green;
  color: $accent-color;
  font-size: 240px;
  line-height: 260px;
  font-weight: 700;
  border-radius: 30px;
}
.active {
  color: $accent-color;
  transition: 0.3s;
  font-weight: 500;
  // font-style: ;
}
@media (max-width: 1000px) {
  .menu {
    display: flex;
  }
}
