@import "../../../styles/variables";

.card {
  border: 2px solid #71a850;
  border-radius: 30px;
  &:hover{
    background: rgba(87, 140, 55, 0.17);
    transition: all 0.3s ease-out;
    color: $neon-green; 
  }
}
.top {
  padding: 1vh 2%;
  height: 100%;
  @include flex-base(center, space-between);
  border-bottom: 1px solid $light-color;
  &__left {
    @include flex-base(center, space-between);
    column-gap: 20%;
  }
}
.title{
  @include mid-title;
}
.image {
  @extend .image-50;
}
.img{
  @extend .image-size;
}
.list {
  padding: 20px;
  &:hover > .hoverlink{
    opacity: 1;
  }
  .li {
    list-style: none;
    display: inline-block;
    padding: 1% 2%;
    margin: 0 1% 4%;
    border-radius: 20px;
    color: $accent-color;
    @include description;
    border: 1px solid $li-color;
    background: rgba(217, 217, 217, 0.9);
    &:hover{
      background: $li-color;
      color: $white-color;
      transition: all 0.2s ease-out;
      cursor: pointer;
    }
  }
}
.hoverlink{
  opacity: 0;
}

@media (max-width: 1500px){
  .top{
    padding: 1vh 5%;
  }
}