@import "../../styles/variables";

.hero {
  width: 100%;
  height: calc(95vh - 100px);
  border-radius: 20px;
  background: url("../../assets/images/second-bg.png") no-repeat center/cover;
  background-size: 0 0;
  position: relative;
  .content {
    z-index: 9999;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 80%;
    h1 {
      font-size: 80px;
      color: $accent-color;
    }
    .link {
      display: inline-block;
      height: 8vh;
      width: 30%;
    }
  }
}
.hero:before {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background: inherit;
  background-size: cover;
  opacity: 0.6;
}
