@import "../../../styles/variables";


.product{
  background-color: $light-color;
  color: $white-color;
  padding: 2%;
}
.text{
  padding: 0 10% 3vh;
}
.section__name{
  @extend .section-name;
  margin-bottom: 10px;
}
.title{
  @include mid-title;
}
.img{
  min-width: 10%;
  height: 6 0vh;
  padding: 5%;
}
.image{
  @extend .image-size;
  object-fit: cover;
}