@import "../../../styles/variables";

.contact {
  padding: 10vh 0 5vh;
}
.container {
  @include container;
}
.content {
  display: grid;
  justify-content: center;
  text-align: center;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #000000;
  padding-bottom: 5vh;
}
.title {
  padding: 2vh 13%;
  @include small-title;
  display: flex;
  margin: 0 auto;
  color: $white-color;
  background-color: $background-green;
}
.desc {
  @include description;
  max-width: 1090px;
  margin-top: 5vh;
}

.address {
  color: $white-color;
  background-color: $background-green;
  margin-top: 10vh;
}
.grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
}
.right {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: auto 0;
  &__title {
    @include mid-title;
    margin-bottom: 4vh;
  }
  .number > a {
    display: block;
  }
  .detail {
    @include flex-base(center, flex-start);
    margin-bottom: 20px;
    @include little-description;
    & p {
      @include little-description;
    }
    & a {
      @include little-description;
    }
  }

  .image {
    @extend .image-50;
    margin-right: 30px;
  }
  .img {
    @extend .image-size;
  }
}
.left {
  width: 100%;
  height: 50vh;
  margin: 0 auto;
}
.map {
  width: 100%;
  height: 100%;
}

@media (max-width: 900px) {
  .right {
    &__title {
      margin-bottom: 2vh;
      margin-top: 2vh;
    }
  }
  .left{
    margin-bottom: 1vh;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}
@media (max-width: 700px) {
  .left {
    width: 100%;
    height: 40vh;
  }
}
@media (max-width: 500px) {
  .left {
    width: 90%;
    height: 30vh;
  }
}
