@import "../../../styles/variables";

.benefit {
  padding: 15vh 0;
}
.container {
  @include container;
}
.content {
  border: 1px solid $accent-color;
  position: relative;
  padding: 7vh 10%;
}
.text {
  top: -10px;
  display: inline-block;
}
.title {
  background-color: $white-color;
  color: $accent-color;
  @include small-title;
  display: inline-block;
  width: max-content;
  position: absolute;
  top: -30px;
  padding: 0 20px;
  left: -20px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 2vh;
  column-gap: 110px;
}
.card {
  &__title {
    @include little-description;
  }
  &__desc {
    font-size: 20px;
    line-height: 29px;
  }
}

@media (max-width: 1700px) {
  .benefit {
    padding: 10vh 0;
  }
}
@media (max-width: 1600px) {
  .content {
    padding: 5vh 8%;
  }
}
@media (max-width: 1000px) {
  .content {
    padding: 2vh 8%;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 4vh;
    column-gap: 10%;
  }
}
@media (max-width: 700px) {
  .content {
    padding: 1vh 5%;
  }
  .title {
    top: -25px;
    padding: 0 20px;
    left: -20px;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    row-gap: 4vh;
    column-gap: 7%;
  }
}
@media (max-width: 500px) {
  .content {
    padding: 1vh 5%;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    row-gap: 4vh;
    column-gap: 7%;
  }
}
