@import "../../../styles/variables";

.text{
  width: 100%;
  padding: 5vh 4% 0;
}
.left{
  @include big-text;
  justify-content: flex-start;
}
.right{
  @include big-text;
  justify-content: flex-end;
}