  @import "../../../styles/variables";

.about {
  padding-top: 4%;
  color: $black-color;
}
.container {
  @include container;
}
.details {
  @include grid-column2;
}
.left{
  @include flex-base(flex-start, center);
  flex-direction: column;
}
.name {
  @extend .section-name;
}
.title {
  @include title-style;
  span {
    color: $accent-color;
  }
}
.desc {
  @include small-title;
  font-weight: 400;
}
.image {
  width: 60%;
  height: 30vh;
  img {
    @extend .image-size;
  }
}
.right {
  padding-top: 5%;
}
.content {
  display: flex;
  column-gap: 2%;
  margin-bottom: 3vh;
  &__title {
    @include little-description;
    margin-bottom: 10px;
  }
  &__desc {
    @include little-description;
  }
}
.ball {
  color: #fff;
  min-width: 34px;
  height: 34px;
  background: $light-color;
  @include flex-base(center, center);
  border-radius: 50%;
}
.big_text {
  @include big-text;
}


@media (max-width: 1800px){
  .image{
    height: 25vh;
  }
}
@media (max-width: 1400px){
  .image{
    height: 20vh;
  }
}
@media (max-width: 1100px){
  .image{
    height: 17vh;
  }
}
@media (max-width: 1000px){
  .image{
    width: 30%;
    height: 20vh;
    display: flex;
    margin: 0 auto;
  }
  .right {
    padding-top: 0;
  }
}
@media (max-width: 800px){
  .image{
    width: 50%;
    height: 20vh;
    display: flex;
    margin: 0 auto;
  }
}
@media (max-width: 550px){
  .image{
    width: 50%;
    height: 17vh;
    display: flex;
    margin: 0 auto;
  }
}