.ant-select-selector{
  border: 1px solid #215700 !important;
  font-size: 22px !important;
  line-height: 35px;
}
.ant-space{
  display: flex;
  justify-content: space-between;
}
.ant-table-content > table{
  table-layout: initial !important;
}
.ant-btn-default{
  border-color: none;
}
.ant-btn-default:not(:disabled):active{
  border-color: #215700;
  color: #215700;
}
.ant-btn-default:not(:disabled):hover{
  border-color: #215700;
  color: #215700;
}
.ant-btn-default:not(:disabled):focus{
  border-color: #215700;
  color: #215700;
}
.ant-table-cell{
  padding: 1.5%;
}
@media (max-width: 800px) {
  .ant-table-cell:nth-child(4){
    display: none;
  }
}
.ant-input:hover {
  border-color: #215700;
}
.ant-btn-primary{
  background-color: #215700;
}
.ant-input:focus{
  border-color: #215700;
}
.ant-modal-confirm-body>.anticon {
  color: #215700 !important;
}
.ant-btn-primary:not(:disabled):hover{
  background-color: #55b916;
}
.ant-table-thead >tr>th{
  text-align: center !important;
}
.ant-table-wrapper table{
  text-align: center !important;
}
.ant-pagination-item a{
  color: #215700 !important;
}
.ant-pagination-item-active{
  border-color: #215700 !important;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):active{
  color: #215700 ;
  border-color: #215700 ;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
  color: #215700 !important;
  border-color: #215700;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before{
  background-color: #215700 ;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover::before{
  background-color: #215700 ;
}
.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
  color: #215700 ;
  border-color: #215700 !important;
}
.ant-form-item-control-input-content > button{
  display: flex;
  margin: 0 auto;
}
.ant-radio-group{
  display: flex;
  justify-content: center;
}
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover{
  border-color: #215700;
}
.ant-checkbox-inner{
  border-color: #215700 !important;
}
.ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner{
  background-color: #215700 !important;
}
.ant-form-item{
  margin: 0;
}
.ant-form-item .ant-form-item-row{
  margin-top: 1vh;
}
.ant-input-affix-wrapper{
  border-radius: 20px;
}
.ant-form-item-explain-error{
  color: rgb(110, 16, 16);
}
.ant-col>label{
  margin-bottom: 1vh;
  font-family: "Jost";
}
.ant-form-vertical .ant-form-item-label{
  padding: 0 0 4px;
}
.ant-input-affix-wrapper >input.ant-input{
  background: none;
  height: 3vh;
  padding: 2vh 1%;
  font-size: 18px;
}
.slick-slide{
  max-width: 500px;
}
.ant-form-item-control-input-content > button{
  display: inline-block;
  margin-left: 10px;
}
.ant-modal-close{
  top: 0;
}