@import '../../../styles/variables';

.modal{
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  z-index: 999;
  @include flex-base(center, center);
  &__content{
    width: 60%;
    border-radius: 10px;
    background-color: #fff;
    z-index: 9999994567890;
    position: relative;
  }
}